<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      body {
        font-family: Arial;
      }

      * {
        box-sizing: border-box;
      }

      form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
      }

      form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }

      form.example button:hover {
        background: #0b7dda;
      }

      form.example::after {
        content: "";
        clear: both;
        display: table;
      }
    </style>
  </head>

  <body>
    <form method="POST" class="example" action="/search-api/result" style="margin:auto;max-width:300px">{% csrf_token %}
      <input type="text" placeholder="Search product here" name="search_string" required="true">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    {% if product_list|length == 0 %}
      <p style=" font-size: 23px;
          line-height: 17px;
          color: #222;
          margin: 4px 0 4px 0;
          text-decoration:none !important;
          max-width: 525px;
          display: inline-block;">
        Please start product search
      </p>
    {% endif %}
    {% if product_list|length > 0 %}
      <table
        width="100%"
        cellpadding="0"
        cellspacing="0"
        style="padding:0 12px 6px 12px;
          {% if not forloop.last %}
            border-bottom: 1px solid #e8e8e8;
          {% endif %}">
        <tr>
          <td align="left">
            <div>
              <div
                style="padding:2px 0 2px 0">
                <div style="color:#737373;font-size:12px">
                  
                  {% for product in product_list %}
                    <table width="100%"
                      cellpadding="0"
                      cellspacing="0"
                      style="padding:0 12px 6px 12px;
                        {% if not forloop.last %}
                          border-bottom: 1px solid #e8e8e8;
                        {% endif %}">
                      <tr>
                        <td
                          background="{{ product.image_url }}"
                          height="60" width="100" valign="bottom"
                          style="padding:0 0 5px 0;
                                text-align:center;
                                border:1px solid #e4e4e4;
                                background: url({{ product.image_url }}) no-repeat top / cover;">
                        </td>
                        <td style="padding-right:18px"></td>
                        <td align="left">
                          
                          <a name="{{ product.product_name }}"
                             href="{{ product.url }}"
                             style="margin-top: 10px;
                             margin-right: 7px;
                             text-decoration: none;
                             line-height:20px;
                             color: #427FEF;
                             font-size: 16px;
                             word-break: break-word;
                             list-style: disc outside none;"
                             target="_blank">
                            {{ product.product_name }}
                          </a>
                          
                        </td>
                        <p style=" font-size: 13px;
                            line-height: 17px;
                            color: #222;
                            margin: 4px 0 4px 0;
                            text-decoration:none !important;
                            max-width: 525px;
                            display: inline-block;">
                            Price: {{ product.price }}
                        </p>
                      </tr>
                    </table>
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    {% endif %}

  </body>
</html>

